/* .additionalItem{
    text-decoration: none;
    margin-right: 15px;
    color: black;
    font-weight: bold;
}

.additionalItemActive {
    color: red;
  }
  .additionalTitle{
      font-weight: 500;
      margin: 0;
  } */
  .additionalWrapper{
      padding: 5px 40px;
      border-bottom-width: 2px;
    border-bottom-style: solid; 
    border-bottom-color: rgb(92, 91, 91);
  }